.container{
    display: block;
    width: 100%;
    height: 100%;
    
}

body{
    background-color: #010e16;
}

.image{
    height: 70%;
    background-image: url(../images/3-2.png);
    background-size: cover;
    background-position: center;
}

.text-box{
    display: flex;
    height: 30%;
    background-color: #010e16;
}

.thoughts{
    font-family: 'Facade Sud Ouest';
    width: 85%;
    color: #e9fffd;
}

.text{
   font-family: 'Facade Ouest';
   font-size: 1.6rem;
    width: 85%;
    margin: 3%;
    color: #e9fffd;
    overflow: auto;
    scrollbar-color: #e9fffd #010e16;
}
.links{
    display: block;
    margin-top: 6%;
    text-align: center;
}

.arrows{
    display: flex;
}

a{
    color: #e9fffd;
    text-decoration: none;
}

a:hover{
    color: red;
}

@font-face {
    font-family: Facade Ouest;
    src: url(../fonts/Facade-Ouest.woff);
}

@font-face {
    font-family: Facade Sud Ouest;
    src: url(../fonts/Facade-Sud-Ouest.woff);
}